<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.n2n.jcshop">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.JCShop">
        <activity android:name=".activity.merchant.MerchantCardActivity"></activity>
        <activity
            android:name=".activity.merchant.MerchantDashboardActivity"
            android:label="@string/title_activity_merchant_dashboard"
            android:theme="@style/Theme.JCShop.NoActionBar" />
        <activity android:name=".activity.other.ForgotPasswordActivity" />
        <activity android:name=".activity.other.SignUpActivity" />
        <activity android:name=".activity.other.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>